{% extends "base.html" %}

{% block title %}Supervised Machine Learning{% endblock %}

{% block content %}

<div class="container">

    <div class="card">
        <h1>Supervised Machine Learning</h1>

        <p class="subtitle">
            Explore regression and classification models, including their concepts and practical applications.
        </p>
    </div>

    <!-- LINEAR REGRESSION -->
    <div class="card">
        <h2>Linear Regression</h2>

        <div class="home-buttons">
            <a href="/regression/" class="btn">Concepts</a>
            <a href="/regression/predict" class="btn">Application</a>
        </div>
    </div>

    <!-- LOGISTIC REGRESSION -->
    <div class="card">
        <h2>Logistic Regression</h2>

        <div class="home-buttons">
            <a href="/classification/logistic/concepts" class="btn">Concepts</a>
            <a href="/classification/logistic/application" class="btn">Application</a>
        </div>
    </div>

    <!-- NAIVE BAYES -->
    <div class="card">
        <h2>Naive Bayes</h2>

        <div class="home-buttons">
            <a href="/classification/naive-bayes/concepts" class="btn">Concepts</a>
            <a href="/classification/naive-bayes/application" class="btn">Application</a>
        </div>
    </div>

</div>

{% endblock %}