{% extends "base.html" %}

{% block content %}
<h1>Supervised Machine Learning</h1>

<h2>Linear Regression</h2>
<a href="/regression/">Concepts</a>
<a href="/regression/predict">Application</a>

<h2>Logistic Regression</h2>
<a href="/classification/logistic/concepts">Concepts</a>
<a href="/classification/logistic/application">Application</a>

<h2>Naive Bayes</h2>
<a href="/classification/naive-bayes/concepts">Concepts</a>
<a href="/classification/naive-bayes/application">Application</a>

{% endblock %}