{% extends "base.html" %}

{% block title %}Spending Classification{% endblock %}

{% block content %}

<div class="container">

    <div class="card">
        <h1>Healthcare Risk Prediction</h1>
    </div>

    <div class="card">
        <h2>Problem Description</h2>
        <div class="text-box">
            Healthcare systems aim to identify patients at risk of developing serious conditions as early as possible. Early detection can significantly improve treatment outcomes and reduce healthcare costs. This use case focuses on predicting whether a patient is at risk based on medical data.
        </div>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/health_problem.png') }}" width="300">
        </div>
    </div>

    <div class="card">
        <h2>Type of Machine Learning</h2>
        <div class="text-box">
            This is a supervised classification problem, where the model predicts whether a patient belongs to a “high-risk” or “low-risk” category.
        </div>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/ml_type.png') }}" width="300">
        </div>
    </div>

    <div class="card">
        <h2>Input Data</h2>
        <div class="text-box">
             <p>Typical input variables include:</p>

            <ul>
                <li><strong>Age</strong></li>
                <li><strong>Blood pressure</strong></li>
                <li><strong>Cholesterol levels</strong></li>
                <li><strong>Medical history</strong></li>
            </ul>
          
            <p>These features provide critical information about a patient’s health status.</p>
        </div>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/health_input.png') }}" width="300">
        </div>
    </div>

    <div class="card">
        <h2>Expected Output</h2>
        <div class="text-box">
            The model produces a risk classification, indicating whether the patient is likely to develop a specific condition.
        </div>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/health_output.png') }}" width="300">
        </div>
    </div>

    <div class="card">
        <h2>Real-World Relevance</h2>
        <div class="text-box">
            Hospitals and healthcare providers use predictive models to support early diagnosis and preventive care. This leads to better patient outcomes and more efficient use of medical resources.
        </div>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/health_real.png') }}" width="300">
        </div>
    </div>

    <div class="home-buttons">
        <a href="{{ url_for('use_cases.menu') }}" class="btn">
            ⬅ Back to Use Cases
        </a>
    </div>

</div>

{% endblock %}
