{% extends "base.html" %}

{% block title %}Use Cases{% endblock %}

{% block content %}

<div class="card">

    <h1>Machine Learning Use Cases</h1>

    <p class="text-box">
        Explore how Machine Learning can be applied in personal finance.
    </p>

    <div class="image-box">
        <img src="{{ url_for('static', filename='images/spongebob_money.png') }}" width="300">
    </div>

    <br>

    <a href="/use-cases/case1" class="btn-green">Expense Prediction</a><br>
    <a href="/use-cases/case2" class="btn-green">Fraud Detection</a><br>
    <a href="/use-cases/case3" class="btn-green">Spending Classification</a><br>
    <a href="/use-cases/case4" class="btn-green">Budget Recommendation</a><br>

</div>

{% endblock %}