{% extends "base.html" %}

{% block title %}Use Cases{% endblock %}

{% block content %}

<div class="container">

    <div class="card">

        <h1>Machine Learning Use Cases</h1>

        <p class="subtitle">
            Explore real-world applications of Machine Learning across different industries.
        </p>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/ml_cases.png') }}" width="200">
        </div>

        <div class="home-buttons">
            <a href="/use-cases/case1" class="btn">Finance Prediction</a>
            <a href="/use-cases/case2" class="btn">Fraud Detection</a>
            <a href="/use-cases/case3" class="btn">Healthcare Risk</a>
            <a href="/use-cases/case4" class="btn">Car Analysis</a>
        </div>

    </div>

</div>

{% endblock %}
