{% extends "base.html" %}

{% block title %}Use Cases{% endblock %}

{% block content %}

<div class="card">

    <h1>Machine Learning Use Cases</h1>

    <p class="text-box">
        Explore different applications of Machine Learning in personal finance.
    </p>

    <a href="/use-cases/case1" class="btn-green">Expense Prediction</a><br>
    <a href="/use-cases/case2" class="btn-green">Fraud Detection</a><br>
    <a href="/use-cases/case3" class="btn-green">Spending Classification</a><br>
    <a href="/use-cases/case4" class="btn-green">Budget Recommendation</a><br>

    <br><br>
    <a href="/" class="btn-green">Back to Home</a>

</div>

{% endblock %}