<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ML Finance App{% endblock %}</title>

    <!-- ICON -->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <!-- NAVIGATION -->
    <div class="card">
        <a href="/" class="btn-green">Home</a>
        <a href="/use-cases/" class="btn-green">Use Cases</a>
        <a href="/regression/" class="btn-green">Linear Regression</a>
    </div>

    {% block content %}{% endblock %}

</div>

</body>
</html>