<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ML Finance App{% endblock %}</title>

    <!-- ICON -->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="{{ theme }}"></body>

<div class="container">

    <!-- NAVIGATION -->
    <nav class="navbar">
    <div class="nav-container">
        <h2 class="logo">ML Suite</h2>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/use-cases">Use Cases</a></li>
            <li><a href="/ml">Supervised ML</a></li>
        </ul>
    </div>
    </nav>

    {% block content %}{% endblock %}

</div>

</body>
</html>