{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card">

    <h1>Personal Finance ML System</h1>

    <p class="text-box">
        This application demonstrates Machine Learning use cases
        and a Linear Regression model for expense prediction.
    </p>

    <a href="/use-cases/" class="btn-green">View Use Cases</a>
    <br><br>
    <a href="/regression/" class="btn-green">Linear Regression Module</a>
    <br><br>
    <a href="/regression/predict" class="btn-green">Try Prediction</a>

</div>

{% endblock %}